nav{

 display: flex;
 justify-content: space-between;   
}

nav button{
    border:none;
    background-color: white;
    color: darkblue;
    font-size: 15pt;
}
button a{
    text-decoration: none;
    color: darkblue;
}

main{

    margin:20vh;
    text-align: center;
    padding-bottom:0;
    background-color: aliceblue;

}
button{

    background-color: darkblue;
    color:white;
    border-radius: 8px;
    padding:5px;
    font-size: 25px;
}

button:hover{
    opacity:40%;
}

h2,h4,#highscores{
    font-size: 28px;
    color: darkblue;
}

h5{
    font-size: 24px;
}

main p{
    font-size: 20px;
}

p{
    text-align: center;
}
.hidden{
    display:none;
}
.show{
    justify-content: center;
}
#goBack a{
    color:white;
}
li{
    font-size: 24px;
    display:inline-flex;
    color:white;
    background-color: darkblue;
    width:fit-content;
    margin-bottom: 20px;
    
    
}